*{
    padding: 0;
    margin: 0;
}
.icone{
    width: 30px;
    margin: 10px;
}
footer{
    position: relative;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #FE5C5E;


    margin: 0;
    padding: 0;
}

.carro{
    height: 90%;   
}

.logo{
    height: 100%;
}

header{
    display: flex;
    background-color: #FE5C5E;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    justify-content: space-between;
}

.titulo{
    margin: 5px 0; 
}


.paginas{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.link{
    text-decoration: none;
    color: white;
    margin: 10px;

}

main{
    display: flex;
    flex-direction: column;
    
}
.div-da-foto-carro-com-frase{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.foto-carro-com-frase{
    max-height: 40vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    

}
.dentro-da-div-textos{
    margin: 10px 15vw;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.fotos-socios-e-nome{
    display: flex;
    justify-content: center;
}
.frase-socios{
    text-align: center;
    margin: 10px;
}
.foto-nome{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.foto-perfil{

    width: 250px;
    border-radius: 50%;
    margin: 0 40px;
}
.nomes-dos-socios{
    display: flex;
    justify-content: center;
}
.o-nome{
    text-align: center;
    padding: 20px;
}

.termos-servico {
    margin-bottom: 50px;
}
@media screen and (max-device-width : 1025px) {
    .foto-nome{
        flex-direction: column;
    }
}



@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .botao-pesquisa{
            display: none;
        }
    }

.carro-produto {
    width: 300px;
    height: 200px;
}

.carros-servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;    
}

.termos {
    display: flex;
    justify-content: center;

}


